body {
    margin: 0;
    padding: 0;
    background: #2C2B3D;
    color: #fff;
    font-family: 'JetBrains Mono', monospace;
}

#page {
    width: 1092px;
    margin: auto;
    text-align: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 71px auto 100px;
    font-size: 14px;
    line-height: 28px;
}

ul {
    display: flex;
    gap: 64px;
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section {
    width: 610px;
}

section h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 60px;
}

section h1 span, section p span {
    color: #00BFA6;
}

section p {
    color: #C2C2C2;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    width: 604px;
}

#line {
    background: #00BFA6;
    width: 570px;
    height: 1px;
    margin: 157px auto 27px;
}

footer {
    font-size: 14px;
    line-height: 28px;
}

#padlock {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 20px;
}